In [8]:
import pandas as pd
import os

pd.set_option('display.max_columns', None)

In [2]:
#os.chdir('../')

In [35]:
def ContributorCount(df):
    return df[['actor_id','repo_name']].drop_duplicates().shape[0]

In [36]:
df_contributors = pd.read_parquet('issue/major_contributors_major_months6_window1827D_sample100.to_parquet')
num_contributors = ContributorCount(df_contributors)

In [29]:
issue_pct = 90
pr_pct = 90
general_pct = 50
issue_col = 'issue_comments'
pr_col = 'pr'

identifiers = ['repo_name','actor_id','time_period','time_period_index', 'earliest_appearance']
issue_analysis_col = f'{issue_col}_{issue_pct}th_pct'
issue_general_col = f'general_{issue_col}_{general_pct}th_pct'
issue_cols = [issue_col, issue_analysis_col, issue_general_col]
pr_analysis_col = f'{pr_col}_{pr_pct}th_pct'
pr_general_col = f'general_{pr_col}_{general_pct}th_pct'
pr_cols = [pr_col, pr_analysis_col, pr_general_col]

analysis_cols = identifiers + issue_cols + pr_cols
df_analysis = df_contributors[analysis_cols]

In [38]:
potential_major_contributors = df_analysis.query(f'{issue_col}>{issue_analysis_col} & {issue_col}>{issue_general_col}')\
    [['actor_id','repo_name']].drop_duplicates()
df_potential = pd.merge(df_analysis, potential_major_contributors, on = ['actor_id','repo_name'])
num_potential_contributors = ContributorCount(df_potential)
print(num_potential_contributors/num_contributors)
df_potential

0.7030567685589519

,repo_name,actor_id,time_period,time_period_index,earliest_appearance,issue_comments,issue_comments_90th_pct,general_issue_comments_50th_pct,pr,pr_90th_pct,general_pr_50th_pct
0,4teamwork/ftw.upgrade,7469.0,2015-01-01,0.0,2015-01-01,26.0,19.700000,2.000000,6.0,5.600000,2.000000
1,4teamwork/ftw.upgrade,7469.0,2015-07-01,1.0,2015-01-01,12.0,14.650000,2.000000,7.0,5.800000,2.000000
2,4teamwork/ftw.upgrade,7469.0,2016-01-01,2.0,2015-01-01,13.0,12.233333,2.000000,8.0,5.933333,2.166667
3,4teamwork/ftw.upgrade,7469.0,2016-07-01,3.0,2015-01-01,8.0,10.575000,2.000000,2.0,5.150000,2.375000
4,4teamwork/ftw.upgrade,7469.0,2017-01-01,4.0,2015-01-01,11.0,10.480000,1.800000,8.0,5.240000,2.400000
...,...,...,...,...,...,...,...,...,...,...,...
2050,zopefoundation/zope.traversing,1256082.0,2021-07-01,NaN,2016-07-01,0.0,NaN,NaN,0.0,NaN,NaN
2051,zopefoundation/zope.traversing,1256082.0,2022-01-01,NaN,2016-07-01,0.0,NaN,NaN,0.0,NaN,NaN
2052,zopefoundation/zope.traversing,1256082.0,2022-07-01,15.0,2016-07-01,0.0,2.520000,1.181818,0.0,1.333333,3.045455
2053,zopefoundation/zope.traversing,1256082.0,2023-01-01,16.0,2016-07-01,0.0,2.360000,1.272727,0.0,1.166667,3.045455
2054,zopefoundation/zope.traversing,1256082.0,2023-07-01,NaN,2016-07-01,0.0,NaN,NaN,0.0,NaN,NaN